<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script>
        function createCompetition() {
            var competitionName = $('#competitionName').val();
            var categoryName = $('#categoryName').val();
            var url = '/api/create-competition';
            var data = {
                competitionName: competitionName,
                competitionCategory: categoryName,
            };
            $.post(url, data,
                function (data, result) {
                    alert(data);
                });
        }
    </script>
    <title>Admin Homepage</title>
</head>

<body>
    <div class="container">
        <h1>Admin Homepage</h1><br>
        <a href="/template-decision" class="btn btn-primary">Template Decision</a>
        <a href="/create-competition" class="btn btn-primary">Create Competition</a><br><br>
        <!-- <a href="/template-decision" class="btn btn-primary">Template Decision</a><br><br> -->
        <a href="/logout" class="btn btn-danger">Logout</a><br><br>
    </div>
</body>

</html>